.container{
    margin-bottom: 100px;
}
.carousel{
    margin-top: 100px;
}
.carousel-indicators li{
    height: 5px;
    background-image: linear-gradient(to right, #ff9900, #ffc266);
}

.icon{
    color: blueviolet;
}

.price{
    color:orange;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
    height: 40px;
    width: 40px;
    background-color: rgb(127, 182, 245);
}

.carousel-item{
    padding: 20px 40px;
}

.carousel-item p{
    color: dimgray;
}

.card p{
    color: dimgray;
}

.buy-now-button{
    background-color: black;    
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}

.logo{
    height: 60px;
}

.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
    border-radius: 10px;
}

.card-footer{
    background-color: white;
    border-top: none;
}

.card{
    text-align: center;
}

.card img{
    padding: 30px;
}
.product-title{
    margin-bottom: 20px ;

}
h6{
    color: orange;
}

.category-underine{
    border-radius: 10px;
    height: 8px;
    width: 8%;
    box-shadow: 0 55px 0 0 orange;
    margin-bottom: 150px;
    margin-left: -118px;
}

.category-margin{
    margin-bottom: 40px;
}


#subscribe{
    height: 250px;
}

#subscribe h6{
    color: gray;
}

.form-control{
    color: dimgray;
}

#contact-button{
    margin-top: 10px;
}

.orange-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
footer{
    text-align: center;
    margin-top: 50px;
}

.about-us-icons img{
    height: 50%;
  
}

.about-headings h5{
    color: orange;
}